
.container{
	width: 80%;
	margin: 0 auto;
	font-family: Bankgothic Lt Bt Light;

}

.breaker{
clear: both;
	background: gray;
	text-align: right;
	color: white;
	height: 2%;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.left{
	width: 30%;
	background-color: AB7092;

	
}

.right{
	width: 70%;
}

.left, .right{
	float: left;
}

.left p{
	color: white;
	padding-left: 10px;
}
.right p {
	padding-left: 10px;
}
.l, .r{
	float: left;
}

.skills{
	background: AB7092;
}

.skillsLeft p{
	margin: 10%;
	}

.exp p,li{
	padding-left: 15px;
}

.expLeft{
	padding-top: 18px;
}
.FL{
	
	font-size: 50px;
}